* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-bottom: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    max-width: 1080px;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    background-color: grey;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 40px;
    text-decoration: none;
    height: 50px;
    list-style: none;
    padding: 0px 20px;
    list-style: none;
}

nav ul li a {
    font-size: 24px;
    text-decoration: none;
    list-style: none;
    color: black;
    text-decoration: black;
    display: flex;
    justify-content: space-evenly;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;


}

body>ul {
    
    font-family: Arial, Helvetica, sans-serif;
}

main {
    padding: 10px;
}

img {
    margin: 30px;
}

.hero {
    display: flex;
    justify-content: space-evenly;
}



button {
    color: white;
    background-color: darkslategray;
    text-decoration: none;
    font-size: smaller;
    border-style:solid;
    border-color: darkslategrey;
    border-radius: 20px;
    
    
}

h2 {
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.hpImg {
    display: flex;
    justify-content: space-evenly;
    align-items: left;
    height: 40%;
}

.abtHero {
   padding-top: 10px; 
}

.abtImg {
    width: fit-content;
}

h3 {
    height: 30px;
    width: 45%;
}

.abtDesc {
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
}

.catImg {
    display: flex;
    justify-content: space-evenly;
    width: 10%;
}

.catSec {
    width: 900px;
}